<app-navbar></app-navbar>

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome back, Admin</h1>
    <p>Easily manage your data from this admin </p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4 pt-3">
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">View Products List</h4>
                    <p class="card-text">View the list of Products</p>
                    <a routerLink="/admin/product" class="card-link btn btn-primary">View</a>

                </div>
            </div>
        </div>
        <div class="col-sm-4 pt-3">
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title"> Add Products</h4>
                    <p class="card-text">Manage all the products here.</p>
                    <a href="#" routerLink="/admin/add-product" class="card-link btn btn-primary">Add new Product</a>

                </div>
            </div>
        </div>

    </div>
</div>