<app-user-navbar></app-user-navbar>

<body></body>



<div class="container pt-0">
    <div class="row">

        <div class="col-md-12 mt-5 ml-0 mr-0 p-0">
            <img src="../../../assets/image/logo.png" class="img-responsive right"
                style="width:100%; z-index:1; height: 80%" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="../../../assets/image/food.jpg" class="img-responsive right"
                style="width:100%; z-index:1; height: 300px" />
            <!--  -->

        </div>
        <br>
        <div class="col-md-6">
            <img src="../../../assets/image/new.jpg" class="img-responsive right"
                style="width:100%; z-index:1; height: 300px" />
            <!--  -->



        </div>

    </div>


</div>