@import "../node_modules/font-awesome/css/font-awesome.min";
/* You can add global styles to this file, and also import other style files */

.text-right {
  text-align: right;
}

.html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f5f5f5;
}
